@include small-screen {
    .card-container {
        background: #fff;

        &::before {
            width: 100px;
            height: 100px;


        }

        &::after {

            width: 100px;
            height: 100px;

        }
    }
}