@include small-screen {
    .card-container {
        width: 100%;
        min-height: 100vh;
        position: relative;
        background: #121321;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        perspective: 1000px;

        &::before {
            display: none;

        }

        &::after {
            display: none;
        }
    }
}